@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.BilingInfo {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
}

.cardHeading {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.cardHeading h6 {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.8px;
  color: rgb(52, 71, 103);
  font-weight: 600;
}
.userCard {
  padding: 1vmax 2vmax;
  background: rgb(255, 255, 255);
  margin: 1vmax 0;
  border-radius: 10px;
}
.userCard__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.user__name {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  text-transform: capitalize;
  color: rgb(52, 71, 103);
  font-weight: 600;
}
.user__info .company {
  display: flex;
  flex-direction: column;
}
.upper__span {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.05em;
  color: rgb(123, 128, 154);
  margin: 5px 0;
}
.company__name {
  color: rgb(14, 14, 14);
}
.user__action {
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
}
.user__action > button > svg {
  font-size: 1rem;
}
